h1{
    text-align: center;
}
body{
    padding: 30px;
    background-image: url("maxresdefault.jpg")
}
form{
    text-align: center;
    border-color: solid black;
    border-style: dotted;
    background-color: bisque;
}
img{
    height: 30px;
    width: 30px;
}
img:hover
{
    height: 125px;
    width: 125px;
}